;linux
[CmpLog]
Logger.0.Filter=0x0000000F

[ComponentManager]
Component.1=CmpBACnet
Component.2=CmpBACnet2
Component.3=CmpPLCHandler
Component.4=CmpGwClient
Component.5=CmpXMLParser
Component.6=CmpGwClientCommDrvTcp
Component.7=CmpOPCUAServer

[CmpApp]
Bootproject.RetainMismatch.Init=1

[CmpUserMgr]
SECURITY.UserMgmtAllowAnonymous=1
SECURITY.UserMgmtEnforce=0

[CmpOPCUAServer]
AllowAnonymous=1
AnonymousLoginAllowed=1
SECURITY.UserAuthentication=DISABLED
SECURITY.AllowUserPasswordOnPlaintext=1
SECURITY.NoSecurityChecks=1
SECURITY.AllowAnonymousUser=1
SECURITY.RejectUnsecureRequests=0

[CmpOPCUAStack]
SECURITY.RejectUnsecureRequests=0
