;linux
[CmpLog]
Logger.0.Filter=0x0000000F

[ComponentManager]
Component.1=CmpBACnet
Component.2=CmpBACnet2
Component.3=CmpPLCHandler
Component.4=CmpGwClient
Component.5=CmpXMLParser
Component.6=CmpGwClientCommDrvTcp
;Component.7=CmpGwClientCommDrvShm ; enable only if necessary, can result in higher cpu load
;Component.8=SysPci                             ; enable when using Hilscher CIFX
;Component.9=CmpHilscherCIFX    ; enable when using Hilscher CIFX

[CmpApp]
Bootproject.RetainMismatch.Init=1
;RetainType.Applications=InSRAM

[CmpRedundancyConnectionIP]

[CmpRedundancy]

[CmpSrv]

[IoDrvEtherCAT]

[CmpUserMgr]
SECURITY.UserMgmtAllowAnonymous=1
SECURITY.UserMgmtEnforce=0

[CmpOPCUAServer]
AllowAnonymous=1
AnonymousLoginAllowed=1
SECURITY.UserAuthentication=DISABLED
SECURITY.AllowUserPasswordOnPlaintext=1
